*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* the header manipulation part */

header{
    border: 1px solid;
    margin: 10px 10px;
    /* padding:40px 0; */
    width: auto;
    height: 150px;
    /* text-align: center; */
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the main block contents are here */

main{
    /* border: 1px solid; */
    margin: 0px 10px;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: row;
}

nav{
    border: 1px solid;
    background-color: aquamarine;
    height: 200px;
    margin-right:5px ;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.section{
    /* border: 1px solid; */
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.one{
    background-color: brown;
    height: 400px;
    padding: 10px;
    margin-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    width: 100%;
    border: 1px solid;
}

.two{
    background-color: brown;
    height: 200px;
    padding: 10px;
    border: 1px solid;
}

.content{
    /* border: 1px solid; */
    display: flex;
    height: 350px;
    margin-top: 10px;
    align-items: center;
}

article{
    border: 1px solid;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
   
    width: 60%;
    height: 300px;
    
}

.aside{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 40%;
    height: 300px;

}

.three{
    border: 1px solid;
    background-color: darkgreen;
    height: 50%;
    margin-bottom: 5px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four{
    border: 1px solid;
    background-color: darkgreen;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is the begening of the second section with
class valued two */

.two{
    display: flex;
    justify-content: space-between;
}

.five{
    border: 1px solid;
    background-color: darkgreen;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 147.5px;
}

/* this footer part */

footer{
    background-color: pink;
    display: flex;
    margin: 10px 10px;
    border: 1px solid;
    height: 118px;
    justify-content: center;
    align-items: center;
}